* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.top-nav {
    display: flex;
    align-items: center;
    
    overflow: hidden;
}

.logo {
    height: 100px;
    width: 100px
}



.top-nav-list ul {
    list-style-type: none;
}

.top-nav-list li {
    display: inline;
    margin: 0px;
    padding: 10px;
    align-items: center;
}

.list-hover:hover {
    background-color: blueviolet;
}

.protrait {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.mascot {
    border-radius: 50%;
    width: 20em;
    height: 20em;
}
